<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="ZusApiCon.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
    <applicationSettings>
        <ZusApiCon.Properties.Settings>
            <setting name="ZusApiCon_zusService_zus_channel_gabinetoweV2_zla"
                serializeAs="String">
                <value>http://pue.zus.pl:8001/ws/zus.channel.gabinetoweV2.zla/zus_channel_zla_Port</value>
            </setting>
        </ZusApiCon.Properties.Settings>
    </applicationSettings>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="zus_channel_zla_Binder" />
            </basicHttpBinding>
        </bindings>
        <client>
            <endpoint address="http://pue.zus.pl:8001/ws/zus.channel.gabinetoweV2.zla/zus_channel_zla_Port"
                binding="basicHttpBinding" bindingConfiguration="zus_channel_zla_Binder"
                contract="zusApi.zla_PortType" name="zus_channel_zla_Port" />
        </client>
    </system.serviceModel>
</configuration>